<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ page.title }}</title>
        <meta charset="utf-8">
        <link rel='stylesheet' type='text/css' href='C:\Users\holly\code\tutorials\stylesheets\style.css' />
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <title>codebar - Tutorials by codebar</title>
    </head>
    <body>
        <div class="wrapper">
        
            <div class="sidebar">
                <img src="C:\Users\holly\code\tutorials\assets\codebar_logo.png" class="logo" alt="codebar logo"/>
                <h3>codebar Resources</h3>
                <div class="blue-square"><img src="C:\Users\holly\code\tutorials\assets\icons\slack.svg" class="square-icon" alt="slack icon" /></div><h4 class="sidebar-text">Slack</h4>
                <p class="para-small">Are you working on the tutorials on your own time? Join the codebar community on Slack to get help and discuss anything with students or coaches!<a href="https://slack.codebar.io/" target="_blank"><b>></b></a></p>
                <div class="pink-square"><img src="C:\Users\holly\code\tutorials\assets\icons\codeacademy.svg" class="square-icon" alt="code academy icon" /></div><h4 class="sidebar-text">Codeacademy</h4>
                <p class="para-small">Nulla vitae arcu nulla. Etiam id porttitor nibh, eu molestie elit. Duis fermentum eros euismod eros commodo blandit. Praesent sed nisl elit. Vivamus rutrum a eros sit amet consequat.<a href="https://www.codecademy.com/"><b>></b></a></p>
                <div class="purple-square"><img src="C:\Users\holly\code\tutorials\assets\icons\codewars.svg" class="square-icon" alt="code wars icon" /></div><h4 class="sidebar-text">Codewars</h4>
                <p class="para-small">Praesent dapibus aliquam luctus. Mauris laoreet sapien ut vestibulum rutrum. Phasellus aliquam risus eu arcu faucrerit.<a href="https://www.codewars.com/"><b>></b></a></p>
            </div>
            <div class="maincontent">
                <h1>codebar Tutorials</h1>    
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id volutpat ipsum, in interdum quam. Vestibulum consectetur faucibus dui vel ultrices. Pellentesque ac nibh vitae erat commodo egestas ac ac metus. Praesent eget nulla feugiat, facilisis risus vel, vulputate libero. Nunc cursus dictum lacus sit amet dignissim. </p>
                <!-- Should these be buttons? -->              
                <button class="purple-button" type="link">Student Set-up</button> 
                <button class="purple-button" type="link">Coaches' Guide</button>
                
                <h2>What would you like to learn?</h2>
                <div class="circle-grid">
                    <div class="circle-container">
                        <div class="blue-circle"><img src="C:\Users\holly\code\tutorials\assets\icons\html.svg" class="circle-icon" alt="html css icon" /></div>
                        <h4>HTML & CSS</h4>
                    </div>
                    <div class="circle-container">
                        <div class="pink-circle"><img src="C:\Users\holly\code\tutorials\assets\icons\javascript.svg" class="circle-icon" alt="javascript icon" /></div>
                        <h4>JavaScript</h4>
                    </div>
                    <div class="circle-container">
                        <div class="purple-circle"><img src="C:\Users\holly\code\tutorials\assets\icons\ruby.svg" class="circle-icon" alt="ruby icon" /></div>
                        <h4>Ruby</h4>
                    </div>
                    <div class="circle-container">
                        <div class="purple-circle"><img src="C:\Users\holly\code\tutorials\assets\icons\python.svg" class="circle-icon" alt="python icon" /></div>
                        <h4>Python</h4>
                    </div>
                    <div class="circle-container">
                        <div class="blue-circle"><img src="C:\Users\holly\code\tutorials\assets\icons\android.svg" class="circle-icon" alt="android icon" /></div>
                        <h4>Android</h4>
                    </div>
                    <div class="circle-container">
                        <div class="pink-circle"><img src="C:\Users\holly\code\tutorials\assets\icons\apple.svg" class="circle-icon" alt="apple icon" /></div>
                        <h4>iOS</h4>
                    </div>
                    <div class="circle-container">
                        <div class="pink-circle"><img src="C:\Users\holly\code\tutorials\assets\icons\php.svg" class="circle-icon" alt="php icon" /></div>
                        <h4>PHP</h4>
                    </div>
                    <div class="circle-container">
                        <div class="purple-circle"><img src="C:\Users\holly\code\tutorials\assets\icons\cmd.svg" class="circle-icon" alt="command line icon" /></div>
                        <h4>CMD Line</h4>
                    </div>
                    <div class="circle-container">
                        <div class="blue-circle"><img src="C:\Users\holly\code\tutorials\assets\icons\github.svg" class="circle-icon" alt="github icon" /></div>
                        <h4>Version Control</h4>
                    </div>
                    <div class="circle-container">
                        <div class="grey-circle"><img src="C:\Users\holly\code\tutorials\assets\icons\dontknow.svg" class="circle-icon" alt="question mark icon" /></div>
                        <h4>I'm Not Sure</h4>
                    </div>
                </div>
            </div>
        </div>
                
    </body>
  </html>