<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ page.title }}</title>
        <meta charset="utf-8">
        <link rel='stylesheet' type='text/css' href='C:\Users\holly\code\tutorials\stylesheets\style.css' />
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <title>codebar - Tutorials by codebar</title>
    </head>
    <body>
        <div class="wrapper">
        
            <div class="sidebar">
                <img src="C:\Users\holly\code\tutorials\assets\codebar_logo.png" class="logo" alt="codebar logo"/>
                <h3>codebar Resources</h3>
                <div class="blue-square"></div><h4>Slack</h4>
                <p class="para-small">Are you working on the tutorials on your own time? Join the codebar community on Slack to get help and discuss anything with students or coaches!<a href="google.com"> <b>></b></a></p>
                <div class="blue-square"></div><h4>Codeacademy</h4>
                <p class="para-small">Nulla vitae arcu nulla. Etiam id porttitor nibh, eu molestie elit. Duis fermentum eros euismod eros commodo blandit. Praesent sed nisl elit. Vivamus rutrum a eros sit amet consequat.<a href="google.com"> <b>></b></a></p>
                <div class="blue-square"></div><h4>Codewars</h4>
                <p class="para-small">Praesent dapibus aliquam luctus. Mauris laoreet sapien ut vestibulum rutrum. Phasellus aliquam risus eu arcu faucrerit.<a href="google.com"> <b>></b></a></p>
            </div>
            <div class="maincontent">
                <h1>codebar Tutorials</h1>    
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id volutpat ipsum, in interdum quam. Vestibulum consectetur faucibus dui vel ultrices. Pellentesque ac nibh vitae erat commodo egestas ac ac metus. Praesent eget nulla feugiat, facilisis risus vel, vulputate libero. Nunc cursus dictum lacus sit amet dignissim. </p>
                <!-- Should these be buttons? -->              
                <button class="purple-button" type="link">Student Set-up</button> 
                <button class="purple-button" type="link">Coaches' Guide</button>

                <h2>What would you like to learn?</h2>
                <div class="circle-grid">
                
                </div>
            </div>
        </div>
                
    </body>
  </html>